In [1]:
import json
import codecs
import pandas as pd

In [2]:
IN_PATH = "samples/yachts-all-60k-90k.json"
OUT_PATH = 'samples/yachts.xlsx'

In [3]:
# проверяется по-словам. если не все слова но >0 - тип будет составлен из этих слов
TYPES = [
    'Jeanneau Sun Odyssey',
    'Jeanneau Sun Fast',
    
    'Bavaria Cruiser',
    'Bavaria Lagoon',

    'Beneteau Cyclades',
    'Beneteau Oceanis Clipper',
    
    'Dufour',
    'Fast',
    'Legend',
    'Elan Impression',
    'North Wind',
    'Cyclades',
    'Hunter',
    'Gib Sea',
    'Oceanis',
    'Seawolf',
    'Hanse',
    'Harmony',
]

def type_get_weight(t,name_orig):
    name = name_orig.lower()
    words = t.lower().split(" ")

    num_pass = 0
    for w in words:
        if not w in name:
            break

        num_pass = num_pass+1
    if num_pass == 0:
        return (0,"(other)")

    return (num_pass," ".join(words[:num_pass]).upper())

def parse_name(name_orig):
    weights = [type_get_weight(t,name_orig) for t in TYPES]
    sw = sorted(weights, key=lambda w:-1*w[0])
    
    return sw[0][1]

In [4]:
json_raw = codecs.open(IN_PATH, "r", "utf-8").read()
yw_raw = json.loads(json_raw)
print "yachts loaded: " + str(len(yw_raw))

# flatten specs
for y in yw_raw:
    fs = ""
    thruster = ""
    furling = ""
    
    for (k,v) in y['full_specs'].items():
        ln = k if len(v)==0 else k + ": " + v
        fs = fs + ln + "\n"
        
        lln = ln.lower()
        # special items
        if "thrust" in lln:
            thruster = thruster + ln + " "

        if "furling" in lln:
            furling = furling + ln + " "

    # parse type
    name_full = y['name'].split(u"\u00a0")[1]
    y['Type'] = parse_name(name_full)    
        
    # parse price to eur
    # "price": "EUR\u00a0\u00a090,000 (US$\u00a0100,467)\u00a0",

    tax = ""
    pr_eur = 0
    pr = y["price"].lower()
    if "tax paid" in pr:
        tax = "Paid"
    if "tax not paid" in pr:
        tax = "Not Paid"
    y['Tax'] = tax
    
    # Country
    country = y['located'].split(" ")[-1].strip()
    y["Country"] = country
    
    if pr.startswith("eur"):
        pr_eur = int(pr.split(u"\u00a0\u00a0")[1].split(" ")[0].replace(",",""))
        
    if pr.startswith(u"£"):
        pr_gpb = int(pr.split(u"\u00a0")[1].split(" ")[0].replace(",",""))
        pr_eur = pr_gpb * 1.16 # current rate GPB to EUR
        
    y['Price_KEUR'] = pr_eur/1000
    
    y["full_specs"] = fs
    y["Thruster"] = thruster
    y["Furling"] = furling
    y["FurlingMain"] = "main" in furling.lower()

yachts loaded: 986

In [5]:
yachts = pd.DataFrame.from_dict(yw_raw)

In [6]:
yachts

,Country,Furling,FurlingMain,Price_KEUR,Tax,Thruster,Type,full_specs,hull_material,id,loa,located,name,price,price_full,url,year
0,Malta,Furling mainsail Furling genoa,True,89.0000,Paid,,JEANNEAU SUN ODYSSEY,Teak sidedecks\nLOA: 13.30 m\nFurling mainsail...,Fiberglass,68071-2311144,44',Malta,1992 Jeanneau Sun Odyssey 44,"EUR 89,000 Tax Paid (US$ 99,351)","US$ 99,351",http://www.yachtworld.com/boats/1992/Jeanneau-...,1992
1,Germany,Furling genoa,False,62.0000,Not Paid,,DUFOUR,LOA: 13.40 m\nFresh Water Tanks: 2 (180 Liters...,Fiberglass,78634-2581151,44',"Greifswald, Germany",1998 Dufour 43,"EUR 62,185 Tax Not Paid (US$ 69,417)","US$ 69,417",http://www.yachtworld.com/boats/1998/Dufour-43...,1998
2,Greece,,False,65.0000,,,(other),Engine/Fuel Type: Diesel\nEngine Brand: Volvo\...,Fiberglass,46426-2281076,44',Greece,1995 Dromor Athena 44,"EUR 65,000 (US$ 72,560)","US$ 72,560",http://www.yachtworld.com/boats/1995/Dromor-At...,1995
3,Italy,,False,85.0000,,,(other),LOA: 13.30 m\nGenerator\nFresh Water Tanks: (4...,Fiberglass,57770-2854614,44',"Italia, Italy",1999 Cantiere del pardo Grand Soleil 43',"EUR 85,000 (US$ 94,886)","US$ 94,886",http://www.yachtworld.com/boats/1999/Cantiere-...,1999
4,Croatia,Furling mainsail Furling genoa,True,89.0000,Not Paid,Bow thruster,ELAN IMPRESSION,Compass\nLOA: 44 ft 0 in\nFurling mainsail\nFr...,Fiberglass,1590-2971057,44',Croatia,2005 Elan Impression 434,"EUR 89,000 Tax Not Paid (US$ 99,351)","US$ 99,351",http://www.yachtworld.com/boats/2005/Elan-Impr...,2005
5,Greece,,False,69.0000,Not Paid,,BAVARIA CRUISER,The Company offers the details of this vessel ...,Fiberglass,74835-2339541,44',"Athens, Greece",2005 Bavaria 42 Cruiser,"EUR 69,000 Tax Not Paid (US$ 77,025)","US$ 77,025",http://www.yachtworld.com/boats/2005/Bavaria-4...,2005
6,Italy,,False,90.0000,,,JEANNEAU SUN FAST,LOA: 13.30 m\nFresh Water Tanks: (400 Liters)\...,Fiberglass,57770-2936982,44',"Italia, Italy",2003 Jeanneau Sun Fast 43’,"EUR 90,000 (US$ 100,467)","US$ 100,467",http://www.yachtworld.com/boats/2003/Jeanneau-...,2003
7,Croatia,,False,79.0000,Not Paid,,ELAN IMPRESSION,The Company offers the details of this vessel ...,Fiberglass,62889-2484520,44',"At request, Croatia",2006 Elan 434 IMPRESSION,"EUR 79,000 Tax Not Paid (US$ 88,188)","US$ 88,188",http://www.yachtworld.com/boats/2006/Elan-434-...,2006
8,Greece,,False,69.0000,Not Paid,,BAVARIA CRUISER,The Company offers the details of this vessel ...,Fiberglass,74835-2566037,44',"Athens, Greece",2005 Bavaria 42 Cruiser,"EUR 69,500 Tax Not Paid (US$ 77,583)","US$ 77,583",http://www.yachtworld.com/boats/2005/Bavaria-4...,2005
9,Greece,Furling mainsail Furling genoa,True,73.0000,Not Paid,,BAVARIA CRUISER,Furling mainsail\nAutopilot\nBattery charger\n...,Fiberglass,74835-2452699,44',"Kos, Greece",2005 Bavaria 42 Cruiser,"EUR 73,500 Tax Not Paid (US$ 82,048)","US$ 82,048",http://www.yachtworld.com/boats/2005/Bavaria-4...,2005
10,Croatia,Furling mainsail Furling genoa,True,78.0000,Not Paid,,BENETEAU CYCLADES,Furling mainsail\nThe Cyclades 43.4 is offered...,Fiberglass,77387-2771509,43',Croatia,2007 Beneteau Cyclades 43.4,"EUR 78,500 Tax Not Paid (US$ 87,630)","US$ 87,630",http://www.yachtworld.com/boats/2007/Beneteau-...,2007
11,Spain,,False,79.0000,Paid,,NORTH WIND,Radar\nWashing machine\nLazyjacks\nAutopilot\n...,Fiberglass,79937-2994408,43',"CADIZ, Spain",1990 North Wind 435,"EUR 79,000 Tax Paid (US$ 88,188)","US$ 88,188",http://www.yachtworld.com/boats/1990/North-Win...,1990
12,France,,False,74.0000,Paid,,BENETEAU CYCLADES,- EXTERIOR EQUIPMENT OPTIONS -\nKeel: Other\nD...,Fiberglass,79828-2963961,43',"NAVY SERVICE, France",2005 Beneteau Cyclades 43.3,"EUR 74,900 Tax Paid (US$ 83,611)","US$ 83,611",http://www.yachtworld.com/boats/2005/Beneteau-...,2005
13,Greece,,False,75.0000,,,BENETEAU CYCLADES,Minimum Draft: 6 ft 2 in\nEngine/Fuel Type: Di...,Fiberglass,42024-2991617,43',"Lefkas, Greece",2007 Beneteau Cyclades 43,"EUR 75,000 (US$ 83,723)","US$ 83,723",http://www.yachtworld.com/boats/2007/Beneteau-...,2007
14,Kingdom,Furling genoa,False,81.1942,Paid,,DUFOUR,Compass\nLOA: 13.26 m\nFresh Water Tanks: (94)...,Fiberglass,75956-2344858,44',"Hartlepool, County Durham, United Kingdom",2003 Dufour 44 Performance,"£ 69,995 Tax Paid (US$ 90,441)","US$ 90,441",http://www.yachtworld.com/boats/2003/Dufour-44...,2003
15,Greece,,False,80.0000,Not Paid,,CYCLADES,The Company offers the details of this vessel ...,Fiberglass,51389-2414202,44',"Athens, Greece",2007 Cyclades 43.4 S/1111.4,"EUR 80,000 Tax Not Paid (US$ 89,304)","US$ 89,304",http://www.yachtworld.com/boats/2007/Cyclades-...,2007
16,Greece,,False,85.0000,Not Paid,,BENETEAU CYCLADES,The Company offers the details of this vessel ...,Fiberglass,78466-2512899,44',Greece,2007 Beneteau Cyclades 43.4,"EUR 85,000 Tax Not Paid (US$ 94,886)","US$ 94,886",http://www.yachtworld.com/boats/2007/Beneteau-...,2007
17,Greece,,False,77.0000,Not Paid,,BENETEAU CYCLADES,Number of bathrooms: 3\nLOA: 13.26 m\nEngine B...,Fiberglass,59470-1522597,44',"Athens, Greece",2005 Beneteau Cyclades 43.3,"EUR 77,000 Tax Not Paid (US$ 85,955)","US$ 85,955",http://www.yachtworld.com/boats/2005/Beneteau-...,2005
18,Spain,Furling mainsail Furling genoa,True,89.0000,Paid,,ELAN,LOA: 13.82 m\nFurling mainsail\nGenerator\nFre...,Fiberglass,77901-2832784,44',"Mallorca, Spain",2001 Elan 45,"EUR 89,000 Tax Paid (US$ 99,351)","US$ 99,351",http://www.yachtworld.com/boats/2001/Elan-45-2...,2001
19,Italy,SLOOP RIG WITH IN-MAST FURLING MAIN AND FURLIN...,True,88.1600,Paid,Bow thruster,JEANNEAU SUN ODYSSEY,550L water\nLarge aft owners cabin\nJEANNEAU S...,Fiberglass,50289-2897462,43',"Ostia, Roma, Italy",2001 Jeanneau Sun Odyssey 43DS,"£ 76,000 Tax Paid (US$ 98,200)","US$ 98,200",http://www.yachtworld.com/boats/2001/Jeanneau-...,2001
20,Greece,,False,75.0000,Not Paid,,JEANNEAU SUN ODYSSEY,LOA: 45 ft 10 in\nLWL: 37 ft 6 in\nHull Shape:...,Fiberglass,42024-2960295,43',"Lefkas, Greece",2002 Jeanneau Sun Odyssey 43,"EUR 75,000 Tax Not Paid (US$ 83,723)","US$ 83,723",http://www.yachtworld.com/boats/2002/Jeanneau-...,2002
21,Greece,,False,85.0000,Not Paid,,BENETEAU CYCLADES,Wind speed and direction - Raymarine ST60\nTen...,Fiberglass,79760-2717895,44',Greece,2007 Beneteau Cyclades 43.4,"EUR 85,000 Tax Not Paid (US$ 94,886)","US$ 94,886",http://www.yachtworld.com/boats/2007/Beneteau-...,2007
22,Greece,,False,87.0000,Paid,,BENETEAU OCEANIS CLIPPER,LOA: 43 ft 0 in\nLWL: 38 ft 5 in\nHull Shape: ...,Fiberglass,42024-2903529,43',"Lefkas, Greece",2005 Beneteau Oceanis Clipper 423,"£ 75,000 Tax Paid (US$ 96,908)","US$ 96,908",http://www.yachtworld.com/boats/2005/Beneteau-...,2005
23,Italy,Furling genoa,False,90.0000,Paid,,JEANNEAU SUN ODYSSEY,LOA: 13.21 m\nFresh Water Tanks: 1 Fiberglass ...,Fiberglass,78751-2768804,43',Italy,2004 Jeanneau Sun Odyssey 43 Legend,"EUR 90,000 Tax Paid (US$ 100,467)","US$ 100,467",http://www.yachtworld.com/boats/2004/Jeanneau-...,2004
24,Germany,Furling genoa - new 2011,False,79.0000,Not Paid,Bow thruster,JEANNEAU SUN ODYSSEY,LOA: 13.21 m\nFresh Water Tanks: (400 Liters)\...,Fiberglass,78634-2404469,43',"Heiligenhafen, Germany",2002 Jeanneau Sun Odyssey 43,"EUR 79,748 Tax Not Paid (US$ 89,023)","US$ 89,023",http://www.yachtworld.com/boats/2002/Jeanneau-...,2002
25,Croatia,Furling mainsail - 2013,True,72.0000,Not Paid,Bow thruster,JEANNEAU SUN ODYSSEY,Teak sidedecks\nLOA: 13.21 m\nFresh Water Tank...,Fiberglass,77612-2820904,43',Croatia,2002 Jeanneau Sun Odyssey 43,"EUR 72,000 Tax Not Paid (US$ 80,374)","US$ 80,374",http://www.yachtworld.com/boats/2002/Jeanneau-...,2002
26,Croatia,Furling mainsail Furling genoa,True,87.0000,,,JEANNEAU SUN ODYSSEY,LOA: 13.21 m\nFurling mainsail\nFresh Water Ta...,Fiberglass,77880-2304628,43',Croatia,2002 Jeanneau Sun Odyssey 43,"EUR 87,000 (US$ 97,118)","US$ 97,118",http://www.yachtworld.com/boats/2002/Jeanneau-...,2002
27,Italy,Furling genoa,False,90.0000,Paid,,JEANNEAU SUN ODYSSEY,LOA: 13.21 m\nFresh Water Tanks: (400 Liters)\...,Fiberglass,76274-2597701,43',"Toscana, Italy",2004 Jeanneau Sun Odyssey 43 Legend,"EUR 90,000 Tax Paid (US$ 100,467)","US$ 100,467",http://www.yachtworld.com/boats/2004/Jeanneau-...,2004
28,Spain,Furling genoa,False,80.0000,Paid,,JEANNEAU SUN ODYSSEY,LOA: 13.21 m\nFresh Water Tanks: (400 Liters)\...,Fiberglass,53009-2805201,43',"Palma de Mallorca, Spain",2001 Jeanneau Sun Odyssey 43,"EUR 80,000 Tax Paid (US$ 89,304)","US$ 89,304",http://www.yachtworld.com/boats/2001/Jeanneau-...,2001
29,Turkey,,False,87.0000,,,JEANNEAU SUN ODYSSEY,Engine/Fuel Type: Diesel\nEngine Brand: YANMAR...,Fiberglass,32624-2707574,43',Turkey,2001 Jeanneau Sun Odyssey 43,"EUR 87,000 (US$ 97,118)","US$ 97,118",http://www.yachtworld.com/boats/2001/Jeanneau-...,2001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
956,Greece,,False,90.0000,Not Paid,,(other),VHF - DSC\nEngine/Fuel Type: Diesel\nCockpit t...,Fiberglass,59470-2409647,36',Greece,1996 X-Yachts X-362,"EUR 90,000 Tax Not Paid (US$ 100,467)","US$ 100,467",http://www.yachtworld.com/boats/1996/X-Yachts-...,1996
957,Kingdom,,False,87.0000,Paid,,(other),Length on Deck: 10.67 m\nMinimum Draft: 1.80 m...,Fiberglass,74787-2909131,36',"Ipswich, Suffolk, United Kingdom",1999 Starlight 35 MK II,"£ 75,000 Tax Paid (US$ 96,908)","US$ 96,908",http://www.yachtworld.com/boats/1999/Starlight...,1999
958,Kingdom,,False,63.7420,Paid,,(other),Designer: Prout\nEngine Brand: Yanmar\nBeam: 4...,Fiberglass,37384-2921931,36',"Hampshire, United Kingdom",1990 Prout Snowgoose 37,"£ 54,950 Tax Paid (US$ 71,001)","US$ 71,001",http://www.yachtworld.com/boats/1990/Prout-Sno...,1990
959,Kingdom,Furling genoa,False,75.4000,Paid,,(other),LOA: 11.0 m\nFresh Water Tanks: (200 Liters)\n...,Fiberglass,80212-2951481,36',"Bursledon, Hampshire, United Kingdom",1998 RIVAL BOWMAN Starlight 35 mkII,"£ 65,000 Tax Paid (US$ 83,987)","US$ 83,987",http://www.yachtworld.com/boats/1998/Rival-Bow...,1998
960,Kingdom,Furling mainsail In mast furling Furling fores...,True,63.8000,Paid,,BENETEAU OCEANIS,Cupboards/stowage space\nTwin stainless steel ...,Fiberglass,50289-2977365,36',"Swanwick, Southampton, United Kingdom",2000 Beneteau Oceanis 36 CC,"£ 55,000 Tax Paid (US$ 71,066)","US$ 71,066",http://www.yachtworld.com/boats/2000/Beneteau-...,2000
961,Kingdom,Harken removable drum twin luff groove roller ...,False,64.9600,Paid,,BENETEAU,Shore power and cable\nBlue GRP hull\nBALLAST:...,Fiberglass,50289-2943014,36',"Port Hamble, near Southampton, United Kingdom",2003 Beneteau First 36.7,"£ 56,000 Tax Paid (US$ 72,358)","US$ 72,358",http://www.yachtworld.com/boats/2003/Beneteau-...,2003
962,Spain,,False,83.0000,Not Paid,,(other),LOA: 36 ft 0 in\nFresh Water Tanks: (200 Liter...,Fiberglass,63429-2969326,36',"Islas Canarias , Spain",1993 Najad 360,"EUR 83,000 Tax Not Paid (US$ 92,653)","US$ 92,653",http://www.yachtworld.com/boats/1993/Najad-360...,1993
963,Kingdom,Vertech in-mast furling main Furlex roller fur...,True,86.9420,Paid,,(other),Pullpit\nForward cabin with double v berth and...,Fiberglass,50289-2871155,36',"Dartmouth, Devon. UK, United Kingdom",1999 Moody 36 CC,"£ 74,950 Tax Paid (US$ 96,843)","US$ 96,843",http://www.yachtworld.com/boats/1999/Moody-36-...,1999
964,Germany,"Furling genoa - Furlin genoa appr. 38 sqm, app...",False,68.0000,Paid,Bow thruster - Vetus with remote control,(other),Wind speed and direction - Raymarine ST60\nLOA...,Fiberglass,78634-2921696,36',"Heiligenhafen, Germany",1991 Pearson 34,"EUR 68,000 Tax Paid (US$ 75,908)","US$ 75,908",http://www.yachtworld.com/boats/1991/Pearson-3...,1991
965,Croatia,Furling mainsail Furling genoa,True,63.0000,Not Paid,,JEANNEAU SUN ODYSSEY,Compass\nLOA: 35 ft 11 in\nFurling mainsail\nF...,Fiberglass,1590-2943931,36',Croatia,2007 Jeanneau Sun Odyssey 36i,"EUR 63,000 Tax Not Paid (US$ 70,327)","US$ 70,327",http://www.yachtworld.com/boats/2007/Jeanneau-...,2007
966,Kingdom,,False,63.8000,Paid,,DUFOUR,LOA: 36 ft 0 in\nFresh Water Tanks: (58)\nConv...,Fiberglass,32024-2639337,36',United Kingdom,2007 Dufour 365 Grand Large,"£ 55,000 Tax Paid (US$ 71,066)","US$ 71,066",http://www.yachtworld.com/boats/2007/Dufour-36...,2007
967,Kingdom,,False,72.4420,Paid,,BENETEAU OCEANIS CLIPPER,LOA: 35 ft 6 in\nFresh Water Tanks: (56)\nMoli...,Fiberglass,68071-2801566,36',"Isle of Anglesey, United Kingdom",2007 Beneteau Oceanis Clipper 343,"£ 62,450 Tax Paid (US$ 80,692)","US$ 80,692",http://www.yachtworld.com/boats/2007/Beneteau-...,2007
968,Kingdom,Sanders furling genoa (2012) Furling Genoa Ful...,True,65.5400,Paid,,(other),Self draining anchor and deck well\nStainless ...,Fiberglass,50289-2890450,36',"Lymington Yacht Haven, United Kingdom",1993 Etap 35i,"£ 56,500 Tax Paid (US$ 73,004)","US$ 73,004",http://www.yachtworld.com/boats/1993/Etap-35i-...,1993
969,Kingdom,Furling genoa,False,69.5420,Not Paid,,DUFOUR,Compass\nEngine Power: 29 HP\nLazyjacks\nAutop...,Fiberglass,78505-2956953,36',"Guernsey, United Kingdom",2010 Dufour 365 Grand Large,"£ 59,950 Tax Not Paid (US$ 77,461)","US$ 77,461",http://www.yachtworld.com/boats/2010/Dufour-36...,2010
970,Kingdom,,False,81.1420,Paid,,(other),Cruising Speed: 6 knots\nFresh Water Tanks: (3...,Fiberglass,73591-2952418,36',"Falmouth, Cornwall, United Kingdom",1990 Biscay 36,"£ 69,950 Tax Paid (US$ 90,382)","US$ 90,382",http://www.yachtworld.com/boats/1990/Biscay-36...,1990
971,Spain,Furling genoa,False,69.5942,Paid,,(other),Cruising Speed: 5 knots\nFresh Water Tanks: 3 ...,Steel,76712-2746411,36',Spain,2010 Bruce Roberts 36,"£ 59,995 Tax Paid (US$ 77,520)","US$ 77,520",http://www.yachtworld.com/boats/2010/Bruce-Rob...,2010
972,Kingdom,Furling genoa,False,64.9600,,Bow thruster,BENETEAU OCEANIS CLIPPER,Cruising Speed: 6 mph\nFresh Water Tanks: (355...,Fiberglass,29066-2979672,36',"Gillingham, United Kingdom",2001 Beneteau Oceanis Clipper 361,"£ 56,000 (US$ 72,358)","US$ 72,358",http://www.yachtworld.com/boats/2001/Beneteau-...,2001
973,Kingdom,Furling genoa,False,63.5100,Paid,,BENETEAU OCEANIS CLIPPER,Teak sidedecks\nLOA: 36 ft 5 in\nOutboard engi...,Fiberglass,76064-2811111,36',"Isle of Wight, United Kingdom",2002 Beneteau Oceanis Clipper 361,"£ 54,750 Tax Paid (US$ 70,742)","US$ 70,742",http://www.yachtworld.com/boats/2002/Beneteau-...,2002
974,Kingdom,Sobstad in mast furling mainsail and furling g...,True,69.5942,Paid,,BENETEAU OCEANIS CLIPPER,LOA: 35 ft 6 in\nFresh Water Tanks: (56)\nThe ...,Fiberglass,29424-2963589,36',United Kingdom,2005 Beneteau Oceanis Clipper 343,"£ 59,995 Tax Paid (US$ 77,520)","US$ 77,520",http://www.yachtworld.com/boats/2005/Beneteau-...,2005
975,Croatia,Furling genoa,False,76.0000,Not Paid,,JEANNEAU SUN ODYSSEY,Compass\nLOA: 35 ft 11 in\nFresh Water Tanks: ...,Fiberglass,77387-2912485,36',Croatia,2010 Jeanneau Sun Odyssey 36i,"EUR 76,000 Tax Not Paid (US$ 84,839)","US$ 84,839",http://www.yachtworld.com/boats/2010/Jeanneau-...,2010
976,Croatia,Furling genoa,False,65.0000,Not Paid,,JEANNEAU SUN ODYSSEY,Compass\nLOA: 35 ft 11 in\nFresh Water Tanks: ...,Fiberglass,1590-2989083,36',Croatia,2009 Jeanneau Sun Odyssey 36i,"EUR 65,000 Tax Not Paid (US$ 72,560)","US$ 72,560",http://www.yachtworld.com/boats/2009/Jeanneau-...,2009
977,Kingdom,Furling genoa,False,63.7420,Paid,,LEGEND,LOA: 35 ft 6 in\nEVO\nEngine Power: 29 HP\nNav...,Fiberglass,55189-2883011,36',"Plymouth, Devon, United Kingdom",2005 Hunter Legend 36,"£ 54,950 Tax Paid (US$ 71,001)","US$ 71,001",http://www.yachtworld.com/boats/2005/Hunter-Le...,2005
978,Cyprus,Furling mainsail Furling genoa,True,69.0000,Paid,Stern thruster Bow thruster,HUNTER,Teak sidedecks\nFurling mainsail\nGenerator\nW...,Fiberglass,79550-2912070,36',"Limassol, Cyprus",2004 Hunter Hunter 36,"EUR 69,000 Tax Paid (US$ 77,025)","US$ 77,025",http://www.yachtworld.com/boats/2004/Hunter-Hu...,2004
979,Kingdom,,False,80.0400,Paid,,(other),Designer: Rod Johnstone\nEngine Brand: Volvo M...,Fiberglass,54509-2973309,36',"Hamble, United Kingdom",2005 J Boats J/109,"£ 69,000 Tax Paid (US$ 89,155)","US$ 89,155",http://www.yachtworld.com/boats/2005/J-Boats-J...,2005
980,Kingdom,,False,66.1200,,,BENETEAU OCEANIS CLIPPER,LOA: 36 ft 4 in\nElectric head\nEngine Power: ...,Fiberglass,40712-2991265,36',"Cumbria, United Kingdom",2001 Beneteau Oceanis Clipper 361,"£ 57,000 (US$ 73,650)","US$ 73,650",http://www.yachtworld.com/boats/2001/Beneteau-...,2001
981,Croatia,Furling mainsail Furling genoa,True,64.0000,Not Paid,,JEANNEAU SUN ODYSSEY,Compass\nLOA: 35 ft 11 in\nFurling mainsail\nF...,Fiberglass,1590-2416243,36',"Split, Croatia",2008 Jeanneau Sun Odyssey 36i,"EUR 64,000 Tax Not Paid (US$ 71,443)","US$ 71,443",http://www.yachtworld.com/boats/2008/Jeanneau-...,2008
982,Kingdom,,False,75.3420,Paid,,JEANNEAU SUN ODYSSEY,Engine/Fuel Type: Diesel\nEngine Brand: Yanmar...,Fiberglass,29864-2867321,36',"Hamble, United Kingdom",2010 Jeanneau Sun Odyssey 36i,"£ 64,950 Tax Paid (US$ 83,922)","US$ 83,922",http://www.yachtworld.com/boats/2010/Jeanneau-...,2010
983,France,Furling genoa,False,66.7000,,,(other),Cruising Speed: 6 knots\nFresh Water Tanks: 1 ...,Fiberglass,29066-2704034,36',"Normandy, France",1993 Rival 36,"£ 57,500 (US$ 74,296)","US$ 74,296",http://www.yachtworld.com/boats/1993/Rival-36-...,1993
984,Kingdom,,False,80.6200,Paid,,(other),Minimum Draft: 4 ft 11 in\nDesigner: Peter Bre...,Fiberglass,42626-2994150,36',"Beaulieu, Hampshire, United Kingdom",1991 Rival 36 MK I/II,"£ 69,500 Tax Paid (US$ 89,801)","US$ 89,801",http://www.yachtworld.com/boats/1991/Rival-36-...,1991
985,Kingdom,,False,67.8600,,,(other),Engine/Fuel Type: Diesel\nDesigner: Holman and...,Fiberglass,42024-2923649,36',"Gosport, Hampshire, United Kingdom",1991 Rustler 36,"£ 58,500 (US$ 75,588)","US$ 75,588",http://www.yachtworld.com/boats/1991/Rustler-3...,1991

In [7]:
#yachts['year'].hist(bins=50)

writer = pd.ExcelWriter(OUT_PATH)
yachts.to_excel(writer,'Yachts')
writer.save()